
.post-container {
    display: grid;
    color: rgb(201, 209, 217);
    background-color: white;
    text-align: justify;
    margin-top: -1rem;
}

.post-title {
    text-align: center;
    font-size: 40px;
}

.post-date {
    text-align: center;
    font-size: 13px;
}

.post-container li {
    color: black;
}

.post-container h1 {
    text-align: center;
}

strong {
    color: black;
}

